[package]
name = "tokio"
# When releasing to crates.io:
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.1.17"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/tokio/0.1.17/tokio/"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
description = """
An event-driven, non-blocking I/O platform for writing asynchronous I/O
backed applications.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures"]

[features]
default = [
  "codec",
  "fs",
  "io",
  "reactor",
  "rt-full",
  "sync",
  "tcp",
  "timer",
  "udp",
  "uds",
]

codec = ["io", "tokio-codec"]
fs = ["tokio-fs"]
io = ["bytes", "tokio-io"]
reactor = ["io", "mio", "tokio-reactor"]
rt-full = [
  "num_cpus",
  "reactor",
  "timer",
  "tokio-current-thread",
  "tokio-executor",
  "tokio-threadpool",
  "tokio-trace-core",
]
sync = ["tokio-sync"]
tcp = ["tokio-tcp"]
timer = ["tokio-timer"]
udp = ["tokio-udp"]
uds = ["tokio-uds"]

# This feature comes with no promise of stability. Things will
# break with each patch release. Use at your own risk.
async-await-preview = [
  "tokio-async-await/async-await-preview",
]

[dependencies]
# Only non-optional dependency...
futures = "0.1.20"

# Everything else is optional...
bytes = { version = "0.4", optional = true }
num_cpus = { version = "1.8.0", optional = true }
tokio-codec = { version = "0.1.0", optional = true }
tokio-current-thread = { version = "0.1.3", optional = true }
tokio-fs = { version = "0.1.6", optional = true }
tokio-io = { version = "0.1.6", optional = true }
tokio-executor = { version = "0.1.5", optional = true, path = "../tokio-executor" }
tokio-reactor = { version = "0.1.1", optional = true }
tokio-sync = { version = "0.1.3", optional = true }
tokio-threadpool = { version = "0.1.8", optional = true }
tokio-tcp = { version = "0.1.0", optional = true }
tokio-udp = { version = "0.1.0", optional = true }
tokio-timer = { version = "0.2.8", optional = true }
tokio-trace-core = { version = "0.1", optional = true }

# Needed until `reactor` is removed from `tokio`.
mio = { version = "0.6.14", optional = true }

# Needed for async/await preview support
tokio-async-await = { version = "0.1.0", optional = true }

[target.'cfg(unix)'.dependencies]
tokio-uds = { version = "0.2.1", optional = true }

[dev-dependencies]
env_logger = { version = "0.5", default-features = false }
flate2 = { version = "1", features = ["tokio"] }
futures-cpupool = "0.1"
http = "0.1"
httparse = "1.0"
libc = "0.2"
num_cpus = "1.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
time = "0.1"
