[package]
name = "tokio"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.2.x" git tag.
version = "0.2.0"
edition = "2018"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/tokio/0.1.21/tokio/"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
description = """
An event-driven, non-blocking I/O platform for writing asynchronous I/O
backed applications.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures"]
publish = false

[features]
default = [
#  "codec",
#  "fs",
  "io",
  "reactor",
  "rt-full",
  "sync",
  "tcp",
#  "timer",
#  "udp",
#  "uds",
]

#codec = ["io", "tokio-codec"]
#fs = ["tokio-fs"]
io = ["bytes", "tokio-io"]
reactor = ["io", "mio", "tokio-reactor"]
rt-full = [
  "num_cpus",
  "reactor",
#  "timer",
  "tokio-current-thread",
  "tokio-executor",
#  "tokio-threadpool",
#  "tokio-trace-core",
]
sync = ["tokio-sync"]
tcp = ["tokio-tcp"]
#timer = ["tokio-timer"]
#udp = ["tokio-udp"]
#uds = ["tokio-uds"]

[dependencies]
# Only non-optional dependency...
#futures = "0.1.20"

# Everything else is optional...
bytes = { version = "0.4", optional = true }
num_cpus = { version = "1.8.0", optional = true }
#tokio-codec = { version = "0.2.0", optional = true, path = "../tokio-codec" }
tokio-current-thread = { version = "0.2.0", optional = true, path = "../tokio-current-thread" }
#tokio-fs = { version = "0.2.0", optional = true, path = "../tokio-fs" }
tokio-io = { version = "0.2.0", optional = true, path = "../tokio-io" }
tokio-executor = { version = "0.2.0", optional = true, path = "../tokio-executor" }
#tokio-macros = { version = "0.1.0", optional = true, path = "../tokio-macros" }
tokio-reactor = { version = "0.2.0", optional = true, path = "../tokio-reactor" }
tokio-sync = { version = "0.2.0", optional = true, path = "../tokio-sync" }
#tokio-threadpool = { version = "0.2.0", optional = true, path = "../tokio-threadpool" }
tokio-tcp = { version = "0.2.0", optional = true, path = "../tokio-tcp" }
#tokio-udp = { version = "0.2.0", optional = true, path = "../tokio-udp" }
#tokio-timer = { version = "0.3.0", optional = true, path = "../tokio-timer" }
#tokio-trace-core = { version = "0.2", optional = true }

# Needed until `reactor` is removed from `tokio`.
mio = { version = "0.6.14", optional = true }

# Needed for async/await preview support
#tokio-futures = { version = "0.2.0", optional = true, path = "../tokio-futures" }

[target.'cfg(unix)'.dependencies]
tokio-uds = { version = "0.2.1", optional = true }

[dev-dependencies]
env_logger = { version = "0.5", default-features = false }
flate2 = { version = "1", features = ["tokio"] }
futures-cpupool = "0.1"
http = "0.1"
httparse = "1.0"
libc = "0.2"
num_cpus = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
time = "0.1"
