[package]
name = "tokio"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v1.0.x" git tag.
version = "1.0.0"
edition = "2018"
authors = ["Tokio Contributors <team@tokio.rs>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/tokio/1.0.0/tokio/"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
description = """
An event-driven, non-blocking I/O platform for writing asynchronous I/O
backed applications.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures"]
publish = false

[features]
# Include nothing by default
default = []

# enable everything
full = [
  "fs",
  "io-util",
  "io-std",
  "macros",
  "net",
  "parking_lot",
  "process",
  "rt",
  "rt-multi-thread",
  "signal",
  "stream",
  "sync",
  "time",
]

fs = []
io-util = ["memchr", "bytes"]
# stdin, stdout, stderr
io-std = []
macros = ["tokio-macros"]
net = [
  "libc",
  "mio/os-poll",
  "mio/os-util",
  "mio/tcp",
  "mio/udp",
  "mio/uds",
]
process = [
  "bytes",
  "once_cell",
  "libc",
  "mio/os-poll",
  "mio/os-util",
  "mio/uds",
  "signal-hook-registry",
  "winapi/threadpoollegacyapiset",
]
# Includes basic task execution capabilities
rt = ["slab"]
rt-multi-thread = [
  "num_cpus",
  "rt",
]
signal = [
  "once_cell",
  "libc",
  "mio/os-poll",
  "mio/uds",
  "mio/os-util",
  "signal-hook-registry",
  "winapi/consoleapi",
]
stream = ["futures-core"]
sync = []
test-util = []
time = []

[dependencies]
tokio-macros = { version = "1.0.0", path = "../tokio-macros", optional = true }

pin-project-lite = "0.2.0"

# Everything else is optional...
bytes = { version = "0.6.0", optional = true }
futures-core = { version = "0.3.0", optional = true }
once_cell = { version = "1.5.2", optional = true }
memchr = { version = "2.2", optional = true }
mio = { version = "0.7.6", optional = true }
num_cpus = { version = "1.8.0", optional = true }
parking_lot = { version = "0.11.0", optional = true }
slab = { version = "0.4.1", optional = true }
tracing = { version = "0.1.21", default-features = false, features = ["std"], optional = true } # Not in full

[target.'cfg(unix)'.dependencies]
libc = { version = "0.2.42", optional = true }
signal-hook-registry = { version = "1.1.1", optional = true }

[target.'cfg(unix)'.dev-dependencies]
libc = { version = "0.2.42" }
nix = { version = "0.19.0" }

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3.8"
default-features = false
optional = true

[dev-dependencies]
tokio-test = { version = "0.4.0", path = "../tokio-test" }
futures = { version = "0.3.0", features = ["async-await"] }
proptest = "0.10.0"
tempfile = "3.1.0"

[target.'cfg(loom)'.dev-dependencies]
loom = { version = "0.3.5", features = ["futures", "checkpoint"] }

[build-dependencies]
autocfg = "1" # Needed for conditionally enabling `track-caller`

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.playground]
features = ["full", "test-util"]
