language: rust

rust:
  - stable
  - beta
  - nightly
sudo: false
before_script:
  - pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
script:
  - cargo build
  - cargo test
  - cargo doc --no-deps
after_success:
  - travis-cargo --only nightly doc-upload
env:
  global:
    - secure: qsl13diqVCpez/Obk5T3EhS3UlKzOYGqFw6AeIeXZhQnBgRD488H9RPp8wxyTFazCVCbRZLLR7q2nTsGDWauEYU9hSm66BkUySqmJEL+eSeXSSUxtbSvATOAMqlceL4uYc6hqjwqrtCmdbrF4dopVg1ZDKGMBMG7TfjvU8NAXr3f+kqYEnJSv1qFGgTFv4itRboAEycRX2omWEpHLCkPvzJhBPFs6F/7SCesrluiKxkREkPjw67IU6uCASCHJ/trIeSc5oWE0jLvIxWR1+sYZHj2QR6j7FnYfSQKPG3mojigQ4kxyhAybDEt+RX4k3ZrR7aikwvwGg1FZB9Sj5QheRYOoN26kj2RTUEs/3vz0VXXQ+iRYSeUPGa/0gcBzhbDvcoKI60Y2tY+DMDqu9aV1k56NJe2O2x9BTwVzgTvSZwvLvMvOmyggFQtvyPVrGhL3lYJ/D5767giaHMBytDRdVfR0RxhuE3RDtXrZbW0DUMGvKuIvm1rFDL10GPV3XaZ7cCmSJu0FoBDd1r0XwVEev4ikmMObUzmXrk3FpDfdfTCqIQxnVnGaVzO54J+Lhpp9ayuABelk+OxUpGCDuPd+rDsbaDq7KAo+jP8BdEbdzNSQhxSo+fd9/KDlFfBHUCLFdM0C9q5OT0iKXM1o5wH+0zl+DiyOBoiA+oUJ10TeiE=
notifications:
  email:
    on_success: never
os:
  - linux
  - osx
