jobs:

- job: check_formatting
  displayName: Check formatting
  pool:
    vmImage: ubuntu-16.04
  steps:
    - script: |
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        $HOME/.cargo/bin/rustup component add rustfmt
      displayName: Install stable Rust
    - script: |
        $HOME/.cargo/bin/cargo fmt -- --check
        alias check="$HOME/.cargo/bin/cargo check --no-default-features"
        shopt -s expand_aliases
        check
        check --features codec
        check --features fs
        check --features io
        check --features reactor
        check --features rt-full
        check --features tcp
        check --features timer
        check --features udp
        check --features uds
      displayName: Run rustfmt and cargo check

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Linux
    vmImage: ubuntu-16.04

- template: _build/azure-pipelines-template.yml
  parameters:
    name: macOS
    vmImage: macOS-10.13

- template: _build/azure-pipelines-template.yml
  parameters:
    name: Windows
    vmImage: vs2017-win2016