trigger: ["master"]
pr: ["master"]

variables:
  RUSTFLAGS: -Dwarnings

jobs:
# Check formatting
- template: ci/azure-rustfmt.yml
  parameters:
    rust: beta
    name: rustfmt

# Apply clippy lints to all crates
- template: ci/azure-clippy.yml
  parameters:
    rust: beta
    name: clippy

# Test top level crate
- template: ci/azure-test-stable.yml
  parameters:
    name: test_tokio
    rust: beta
    displayName: Test tokio
    cross: true
    crates:
      tokio:
        - codec
        - fs
        - io
        - net
        - process
        - rt-full
        - signal
        - sync
        - tcp
        - timer
        - udp
        - uds

# Test crates that are platform specific
- template: ci/azure-test-stable.yml
  parameters:
    name: test_sub_cross
    displayName: Test sub crates (cross) -
    cross: true
    rust: beta
    crates:
      tokio-fs: []
      tokio-net:
        - process
        - signal
        - tcp
        - udp
        - uds

# Test crates that are NOT platform specific
- template: ci/azure-test-stable.yml
  parameters:
    name: test_linux
    displayName: Test sub crates -
    rust: beta
    crates:
      tokio-codec: []
      tokio-executor:
        - current-thread
        - threadpool
      tokio-io:
        - util
      tokio-sync:
        - async-traits
      tokio-macros: []
      tokio-timer:
        - async-traits
      tokio-test: []

# Test compilation failure
- template: ci/azure-test-stable.yml
  parameters:
    name: test_features
    displayName: Test feature flags
    rust: beta
    crates:
      build-tests:
        - tokio-executor
        - tokio-net
        - executor-without-current-thread
        - macros-invalid-input
        - net-no-features
        - net-with-tcp
        - net-with-udp
        - net-with-uds
        - tokio-no-features
        - tokio-with-net

# Try cross compiling
- template: ci/azure-cross-compile.yml
  parameters:
    name: cross
    rust: beta

# # This represents the minimum Rust version supported by
# # Tokio. Updating this should be done in a dedicated PR and
# # cannot be greater than two 0.x releases prior to the
# # current stable.
# #
# # Tests are not run as tests may require newer versions of
# # rust.
# - template: ci/azure-check-minrust.yml
#   parameters:
#     name: minrust
#     rust_version: 1.34.0
#
# - template: ci/azure-tsan.yml
#   parameters:
#     name: tsan
#     rust: beta

- template: ci/azure-deploy-docs.yml
  parameters:
    rust: beta
    dependsOn:
      - rustfmt
      - clippy
      - test_tokio
      - test_sub_cross
      - test_linux
      - test_features
#      - test_nightly
      - cross
#      - minrust
#      - tsan
