trigger: ["master"]
pr: ["master"]

variables:
  RUSTFLAGS: -Dwarnings
  nightly: nightly-2020-05-29

jobs:
# Test top level crate
- template: ci/azure-test-stable.yml
  parameters:
    name: test_tokio
    rust: stable
    displayName: Test tokio
    cross: true
    crates:
      - tokio
      - tests-integration

# Test sub crates
- template: ci/azure-test-stable.yml
  parameters:
    name: test_linux
    displayName: Test sub crates -
    rust: stable
    crates:
      - tokio-macros
      - tokio-test
      - tokio-util
      - examples

# Run integration tests
- template: ci/azure-test-integration.yml
  parameters:
    name: test_integration
    displayName: Integration tests
    rust: stable

# Run tests from `tests-build`. This requires a different process
- template: ci/azure-test-build.yml
  parameters:
    name: test_build
    displayName: Test build permutations
    rust: stable

# Run miri tests
- template: ci/azure-miri.yml
  parameters:
    name: miri
    rust: $(nightly)

# Try cross compiling
- template: ci/azure-cross-compile.yml
  parameters:
    name: cross
    rust: stable

# Check each feature works properly
- template: ci/azure-check-features.yml
  parameters:
    rust: $(nightly)
    name: check_features

# This represents the minimum Rust version supported by
# Tokio. Updating this should be done in a dedicated PR and
# cannot be greater than two 0.x releases prior to the
# current stable.
#
# Tests are not run as tests may require newer versions of
# rust.
- template: ci/azure-check-minrust.yml
  parameters:
    name: minrust
    rust: 1.39.0

# Check formatting
- template: ci/azure-rustfmt.yml
  parameters:
    rust: stable
    name: rustfmt

# Apply clippy lints to all crates
- template: ci/azure-clippy.yml
  parameters:
    rust: stable
    name: clippy

# Check doc generation
- template: ci/azure-check-docs.yml
  parameters:
    rust: $(nightly)
    name: docs

# - template: ci/azure-tsan.yml
#   parameters:
#     name: tsan
#     rust: stable

# Run loom tests
- template: ci/azure-loom.yml
  parameters:
    name: loom
    rust: stable

- template: ci/azure-deploy-docs.yml
  parameters:
    rust: stable
    dependsOn:
      - rustfmt
      - docs
      - clippy
      - test_tokio
      - test_linux
      - test_integration
      - test_build
      - loom
      - miri
      - cross
      - minrust
      - check_features
#      - tsan
