[workspace]

members = [
  "tokio",
  "tokio-buf",
  "tokio-codec",
  "tokio-executor",
  "tokio-fs",
  "tokio-io",
  "tokio-macros",
  "tokio-net",
  "tokio-process",
  "tokio-signal",
  "tokio-sync",
  "tokio-test",
  "tokio-timer",
  "tokio-tcp",
  "tokio-tls",
  "tokio-udp",
  "tokio-uds",
  "ui-tests",
]
