[package]
name = "tokio-signal"
version = "0.1.0"
authors = ["Alex Crichton <alex@alexcrichton.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/alexcrichton/tokio-signal"
homepage = "https://github.com/alexcrichton/tokio-signal"
documentation = "https://alexcrichton.github.io/tokio-signal"
description = """
An implementation of an asynchronous Unix signal handling backed futures.
"""

[dependencies]
tokio-core = "0.1"
futures = "0.1"

[target.'cfg(unix)'.dependencies]
tokio-uds = "0.1"
libc = "0.2"
mio = "0.6"

[target.'cfg(windows)'.dependencies]
winapi = "0.2"
kernel32-sys = "0.2"
mio = "0.6"
