[package]
name = "tokio"

# When releasing to crates.io:
# - Update html_root_url.
# - Update CHANGELOG.md.
# - Create "v0.1.x" git tag.
version = "0.1.4"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
documentation = "https://docs.rs/tokio/0.1"
description = """
An event-driven, non-blocking I/O platform for writing asynchronous I/O
backed applications.
"""
categories = ["asynchronous", "network-programming"]
keywords = ["io", "async", "non-blocking", "futures"]

[workspace]

members = [
  "./",
  "tokio-executor",
  "tokio-io",
  "tokio-reactor",
  "tokio-threadpool",
  "tokio-tcp",
  "tokio-udp",
  "futures2",
]

[badges]
travis-ci = { repository = "tokio-rs/tokio" }
appveyor = { repository = "carllerche/tokio" }

[dependencies]
tokio-io = { version = "0.1.6", path = "tokio-io" }
tokio-executor = { version = "0.1.1", path = "tokio-executor" }
tokio-reactor = { version = "0.1.1", path = "tokio-reactor" }
tokio-threadpool = { version = "0.1.1", path = "tokio-threadpool" }
tokio-tcp = { version = "0.1.0", path = "tokio-tcp" }
tokio-udp = { version = "0.1.0", path = "tokio-udp" }
mio = "0.6.14"
futures = "0.1.19"

# Futures 0.2 integration
futures2 = { version = "0.1.0", path = "futures2", optional = true }

[dev-dependencies]
bytes = "0.4"
env_logger = { version = "0.4", default-features = false }
flate2 = { version = "1", features = ["tokio"] }
futures-cpupool = "0.1"
http = "0.1"
httparse = "1.0"
libc = "0.2"
num_cpus = "1.0"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
time = "0.1"

[patch.crates-io]
tokio-io = { path = "tokio-io" }

[features]
unstable-futures = [
    "futures2",
    "tokio-reactor/unstable-futures",
    "tokio-threadpool/unstable-futures",
    "tokio-executor/unstable-futures",
    "tokio-tcp/unstable-futures",
    "tokio-udp/unstable-futures"
]
default = []
