[package]
name = "tokio-timer"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
#   - README.md
# - Update CHANGELOG.md.
# - Create "v0.3.x" git tag.
version = "0.3.0"
edition = "2018"
authors = ["Carl Lerche <me@carllerche.com>"]
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/tokio-timer/0.2.11/tokio_timer"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://github.com/tokio-rs/tokio"
description = """
Timer facilities for Tokio
"""
publish = false

[dependencies]
futures = "0.1.19"
tokio-executor = { version = "0.2.0", path = "../tokio-executor" }
crossbeam-utils = "0.6.0"

# Backs `DelayQueue`
slab = "0.4.1"

[dev-dependencies]
rand = "0.6"
tokio-mock-task = "0.1.0"
tokio = { version = "0.2.0", path = "../tokio" }
