[package]
name = "tokio-util"
# When releasing to crates.io:
# - Remove path dependencies (if any)
# - Update CHANGELOG.md.
# - Create "tokio-util-0.7.x" git tag.
version = "0.7.18"
edition = "2021"
rust-version = "1.71"
authors = ["Tokio Contributors <team@tokio.rs>"]
license = "MIT"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
description = """
Additional utilities for working with Tokio.
"""
categories = ["asynchronous"]

[features]
# No features on by default
default = []

# Shorthand for enabling everything
full = ["codec", "compat", "io-util", "time", "net", "rt", "join-map"]

net = ["tokio/net"]
compat = ["futures-io"]
codec = []
time = ["tokio/time", "slab"]
io = []
io-util = ["io", "tokio/rt", "tokio/io-util"]
rt = ["tokio/rt", "tokio/sync", "futures-util"]
join-map = ["rt", "hashbrown"]

__docs_rs = ["futures-util"]

[dependencies]
tokio = { workspace = true } #unified
bytes = { workspace = true } #unified
futures-core = "0.3.0"
futures-sink = "0.3.0"
futures-io = { version = "0.3.0", optional = true }
futures-util = { version = "0.3.0", optional = true }
pin-project-lite = "0.2.11"
slab = { workspace = true, optional = true } #unified
tracing = { workspace = true, optional = true } #unified
hashbrown = { version = "0.15.0", default-features = false, optional = true }

[dev-dependencies]
tokio = { workspace = true } #unified
tokio-test = "0.4.0"
tokio-stream = "0.1"

async-stream = "0.3.0"
futures = { workspace = true, features = ["async-await", "thread-pool"] } #unified
futures-test = "0.3.5"
parking_lot = { workspace = true } #unified
tempfile = { workspace = true } #unified

[target.'cfg(loom)'.dev-dependencies]
loom = { version = "0.7", features = ["futures", "checkpoint"] }

[package.metadata.docs.rs]
all-features = true
# enable unstable features in the documentation
rustdoc-args = ["--cfg", "docsrs", "--cfg", "tokio_unstable"]
# it's necessary to _also_ pass `--cfg tokio_unstable` to rustc, or else
# dependencies will not be enabled, and the docs build will fail.
rustc-args = ["--cfg", "docsrs", "--cfg", "tokio_unstable"]

[package.metadata.playground]
features = ["full"]

[lints]
workspace = true
