[package]
name = "tokio-util"
# When releasing to crates.io:
# - Remove path dependencies
# - Update html_root_url.
# - Update doc url
#   - Cargo.toml
# - Update CHANGELOG.md.
# - Create "v0.2.x" git tag.
version = "0.2.0-alpha.6"
edition = "2018"
authors = ["Tokio Contributors <team@tokio.rs>"]
license = "MIT"
repository = "https://github.com/tokio-rs/tokio"
homepage = "https://tokio.rs"
documentation = "https://docs.rs/tokio-util/0.2.0-alpha.6/tokio_util"
description = """
Additional utilities for working with Tokio.
"""
categories = ["asynchronous"]

[dependencies]
tokio = { version = "=0.2.0-alpha.6", path = "../tokio" }

bytes = "0.4.7"
futures-core = "0.3.0"
futures-sink = "0.3.0"
log = "0.4"
pin-project = "0.4"

[dev-dependencies]
tokio = { version = "=0.2.0-alpha.6", path = "../tokio" }
tokio-test = { version = "=0.2.0-alpha.6", path = "../tokio-test" }

futures-util = "0.3.0"

[package.metadata.docs.rs]
all-features = true
