[package]
name = "benches"
version = "0.0.0"
publish = false
edition = "2018"

[dependencies]
tokio = { version = "0.2.0", path = "../tokio", features = ["full"] }
bencher = "0.1.5"

[[bench]]
name = "spawn"
path = "spawn.rs"
harness = false

[[bench]]
name = "mpsc"
path = "mpsc.rs"
harness = false

[[bench]]
name = "scheduler"
path = "scheduler.rs"
harness = false


[[bench]]
name = "sync_rwlock"
path = "sync_rwlock.rs"
harness = false

[[bench]]
name = "sync_semaphore"
path = "sync_semaphore.rs"
harness = false
